
#tl_export_table input.exportButton.tl_submit {
    color: #fff;
    background: 0;
    background-color: #006699;
    text-shadow: 0 0 #fff;
}

#tl_export_table input.tl_submit {
    padding-top: 8px;
    padding-bottom: 8px;
}

